@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  margin: 0;
  padding: 0;
}

html, body {
  /* Font family */
  font-family: 'Source Sans Pro', sans-serif;
  /* Font Size general */
  font-size: 18px;
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.period, .time-header, .indicator-header {
  text-align: center;
  height: 50px;
  width: auto;
  border-radius: 15px;
  background-color: #fff;
}

.box-information {
  width: auto;
  height: auto;
  background-color: rgba(112, 208, 208, 1);
  border-radius: 15px;
}

.list-id-s {
  display: inline-block;
}

.aside-panel {
  width: 400px;
  height: auto;
}

.form-student {
  width: 500px;
  height: auto;
}

.student-img {
  margin: 10px auto;
  display: block;
}

.box-n {
  background-color: #ccc;
  height: 50px;
  width: 100%;
}

/* tooltip efects css*/
.tooltip {
  position: relative;
  background: blue;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #ccc;
  width: auto;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

th:hover {
  animation: shake 500ms ease-in-out forwards;
}

.button-badge {
  text-decoration: none;
  padding: 1rem 1.5rem;
  position: relative;
  display: inline-block;
  border-radius: .2rem;
  transition: all ease 0.4s;
}

.button-badge:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.button-badge:hover > .fas{
  color: #1779ba;
}

.badge {
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: .8em;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}

#form-edit{
  display: none; !important
}

.title{
  display: flex;
}

.title-qymera{
  color: #e17055;
  border: none;
}

#token-load, #login-load{
  display: none
}
