.img-profile{
	width: 200px;
	height: 200px;
	background: url('../media/fotos/user-default.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	display:block;
	margin:auto;
}
