.void{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
}


.button-bottom-right{
    position:absolute;
    bottom:5px;
    right:10px;
}

.button-bottom-left{
    position:absolute;
    bottom:5px;
    left:10px;
}


#newGroup{
  display: none; !important
}

#newGrade{
  display: none; !important
}
